p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #8f95a5;
  background-color: #fff;
}

.list {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 575px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    padding-left: 31px;
    padding-right: 31px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    padding-left: 131px;
    padding-right: 131px;
  }
}

.logo {
  font-size: 24px;
  line-height: 1.5;
  text-decoration: none;
}
.logo__decor--dark {
  color: #000000;
}
.logo__decor--light {
  color: #939393;
}
@media screen and (min-width: 575px) {
  .logo {
    font-size: 30px;
  }
}
@media screen and (min-width: 1600px) {
  .logo {
    font-size: 36px;
  }
}

.burger-btn {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
.burger-btn:hover, .burger-btn:focus {
  fill: #fab906;
}
@media screen and (min-width: 992px) {
  .burger-btn {
    display: none;
  }
}

.icon-color {
  width: 34px;
  height: 19px;
}
@media screen and (min-width: 575px) {
  .icon-color {
    width: 43px;
    height: 24px;
  }
}
@media screen and (min-width: 768px) {
  .icon-color {
    width: 30px;
    height: 17px;
  }
}

.title {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 3.33;
  color: #000000;
}

.mob-container {
  padding-left: 40px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  padding-top: 36px;
  padding-bottom: 29px;
}
@media screen and (min-width: 575px) {
  .header {
    padding-top: 39px;
    padding-bottom: 11px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 39px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 992px) {
  .header {
    padding-top: 30px;
    padding-bottom: 68px;
  }
}
@media screen and (min-width: 1600px) {
  .header {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: none;
}
@media screen and (min-width: 992px) {
  .menu {
    display: flex;
    margin-right: 100px;
    margin-left: 167px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (min-width: 992px) and (min-width: 1600px) {
  .menu {
    margin-right: 121px;
    margin-left: 236px;
    gap: 50px;
  }
}

.menu__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #263238;
}
.menu__item:hover, .menu__item:focus {
  color: rgba(6, 83, 250, 0.5019607843);
}

.header__btn {
  display: none;
}
@media screen and (min-width: 992px) {
  .header__btn {
    margin-right: 0;
    display: block;
    padding: 12px 40px;
    border: 2px solid #263238;
    border-radius: 5px;
    background-color: inherit;
    font-size: 18px;
    line-height: 1.5;
    color: #000000;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  z-index: 1;
}
.mob-menu > .mob-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.add-close__btn {
  position: absolute;
  right: 15px;
  top: 30px;
  background-color: transparent;
  border: transparent;
}
.add-close__btn:hover {
  fill: rgba(6, 83, 250, 0.5019607843);
}

.mob-menu__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mob-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #263238;
  text-decoration: none;
}
.mob-menu__item:hover, .mob-menu__item:focus {
  color: rgba(6, 83, 250, 0.5019607843);
}

.mob-menu__item--active {
  color: rgba(6, 83, 250, 0.5019607843);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hero {
  padding-bottom: 53px;
  text-align: center;
}

.hero__img {
  display: block;
  margin: 0 auto;
}

.hero__title {
  margin-top: 16px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}

.hero__text {
  font-size: 14px;
  line-height: 1.5;
}

.hero-btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 33px;
  padding: 18px 99px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: #263238;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  width: 100%;
  height: 60px;
}

.skills {
  padding-bottom: 50px;
}

.skills__list {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.skills__item {
  padding: 8px 16px 45px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.skills__thumb {
  margin-bottom: 10px;
}

.skills__img {
  display: block;
  margin: 0 auto;
}

.subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 4.44;
  color: #263238;
}

.skills__text {
  line-height: 1.54;
}

.skills__btn {
  margin-top: 31px;
  padding: 14px 43px;
  background-color: #263238;
  border-radius: 5px;
  height: 50px;
  min-width: 178px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
}

.about {
  padding-bottom: 84px;
  padding-right: 9px;
  text-align: center;
}

.about__thumb {
  margin-top: 24px;
}

.about__img {
  display: block;
  margin: 0 auto;
}

.about__text {
  line-height: 1.5;
  margin-bottom: 7px;
}

.top-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 3.33;
  color: #2a3246;
}

.bottom-text {
  font-size: 15px;
  line-height: 1.47;
}

.pricing {
  padding-bottom: 72px;
  text-align: center;
}

.pricing__list {
  margin-top: 61px;
}

.pricing__thumb {
  margin-bottom: 26px;
}

.pricing__img {
  display: block;
  margin: 0 auto;
}

.pricing-subtitle {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.56;
  color: #263238;
}

.pricing__text {
  margin-bottom: 33px;
  line-height: 1.54;
}

.pricing-value {
  display: block;
  background-color: #eeeeee;
  padding: 5px 12px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.5;
  color: #263238;
  height: 37px;
  max-width: 170px;
}

.contacts {
  padding-bottom: 55px;
}/*# sourceMappingURL=main.css.map */