.header {
  padding-top: 36px;
  padding-bottom: 29px;

  @include size-575 {
    padding-top: 39px;
    padding-bottom: 11px;
  }

  @include size-768 {
    padding-top: 39px;
    padding-bottom: 40px;
  }

  @include size-992 {
    padding-top: 30px;
    padding-bottom: 68px;
  }

  @include desktop {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: none;

  @include size-992 {
    display: flex;
    margin-right: 100px;
    margin-left: 167px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    @include desktop {
      margin-right: 121px;
      margin-left: 236px;
      gap: 50px;
    }
  }
}
.menu__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: $second-dark-color;

  &:hover,
  &:focus {
    color: $interactive-color;
  }
}

.header__btn {
  display: none;

  @include size-992 {
    margin-right: 0;
    display: block;
    padding: 12px 40px;
    border: 2px solid $second-dark-color;
    border-radius: 5px;
    background-color: inherit;
    font-size: 18px;
    line-height: 1.5;
    color: $main-dark-color;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  background-color: $btn-light-color;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  z-index: 1;

  > .mob-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
}
.add-close__btn {
  position: absolute;
  right: 15px;
  top: 30px;
  background-color: transparent;
  border: transparent;
  // transition: fill $transition-default;

  &:hover {
    fill: $interactive-color;
  }
}

.mob-menu__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mob-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $second-dark-color;
  text-decoration: none;

  // transition: color $transition-default;

  &:hover,
  &:focus {
    color: $interactive-color;
  }
}

.mob-menu__item--active {
  color: $interactive-color;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
