.pricing {
  padding-bottom: 72px;
  text-align: center;
}
.container {
}
.title {
}
.pricing__list {
  margin-top: 61px;
}
.pricing__thumb {
  margin-bottom: 26px;
}
.pricing__img {
  display: block;
  margin: 0 auto;
}
.pricing-subtitle {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.56;
  color: $second-dark-color;
}
.pricing__text {
  margin-bottom: 33px;
  line-height: 1.54;
}
.pricing-value {
  display: block;
  background-color: #eeeeee;
  padding: 5px 12px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.5;
  color: $second-dark-color;
  height: 37px;
  max-width: 170px;
}
