$main-dark-color: #000000;
$main-light-color: #8f95a5;
$second-dark-color: #263238;
$second-light-color: #546269;
$third-dark-color: #2a3246;
$logo-light-color: #939393;
$burger-btn-color: #39515e;
$btn-light-color: #ffffff;
